pgadmin-data/**
postgres--data/**
alembic.ini.old
.env
**__pycache__/**
**.pytest_cache/**
**.mypy_cache/**
**.coverage
**.DS_Store
**.vscode/**
**.idea/**
**.git/**


**pgadmin-data/**
**postgres-data/**
**alembic/**
commands.md